// paleta de colores

$color-crema: #FDF7E7;
$color-cloud-dancer: #EFEEE9;
$color-nordic: #D3DDE7;
$color-tetsu: #17194C;
$color-intergalactic: #273186;
$color-lila: #D5B4FB;
$color-neon-yellow: #D8E63B;
$color-light-lila: #DAD4FC;
$color-camel: #BA6C04;


